*{background-color: rgb(254, 254, 255);
color: rgb(16, 23, 37);}
h1 {color: rgb(185, 180, 180);
font-family: 'Times New Roman', Times, serif;}
img {
height: 300px;
width: 300px;
}
#boton1 {color: rgb(255, 254, 254);
font-size: large;
background-color: rgb(114, 68, 51);
border-radius: 5px;}
.Resaltado {color: lightskyblue;
background-color: cyan;}